@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #edecf4;
}

.split-layout {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    background-color: white;
    border-radius: 5px;
    min-height: 100vh;
  }

.form-input {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
  }
  .btn-primary {
    background-color: #3753f3;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 30px);
    display: inline-block;
    margin-top: 20px;
  }